.wishList {
  width: 75%;
  margin: 20px auto;
  list-style: none;
  color: black;
  font-size: 17px;
  line-height: 2;
  text-align: center;
}

.wishList li {
  margin-bottom: 40px;
  overflow: auto;
}

.wish-wrapper{
  width: 75%;
  box-sizing: border-box;
  box-shadow: 0 1px 5px 2px #D1C4E9;
  padding: 40px;
  border-radius: 10px;
  margin: 20px auto;
  background-color: #FFECB3;
}

.header-nav {
  list-style: none;
  font-size: 18px;
}

.header-nav li {
  margin-bottom: 30px;
}

.title {
  font-size: 20px;
  color: brown;
}

.overview {
  color: grey;
  border-radius: 8px;
  text-align: left;
}

.poster {
  margin-top: 30px;
  margin-left: 60px;
  width: 220px;
  float: right;
  border-radius: 8px;
}

.poster img {
  width: 190px;
  border-radius: 6px;
  height: auto;
}

.newWindow {
  color:brown;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.date {
  text-align: left;
  color: grey;
}
